COMPOSE_PROJECT_NAME=paperless
# port forwarding for different services
REDIS_PORT=6379
POSTGRES_PORT=5432
GOTENBERG_PORT=3000
TIKA_PORT=9998
PAPERLESS_PORT=8088
#n8n credentials
N8N_INSTANCE_OWNER_EMAIL=alex.mt.10@gmail.com
N8N_INSTANCE_OWNER_NAME=Alejandro Moreno
# puedes generarlo con python3 -c "import bcrypt; print(bcrypt.hashpw(b'TuContraseñaSegura', bcrypt.gensalt()).decode())"
N8N_INSTANCE_OWNER_PASSWORD_HASH=$$2b$$12$$WlGRvTl4FMRGDU4zOR3Bm.ieLLQWFbB4D3ScKP0KfjsUyhTeMAf4S